# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Build output
dist/

# Coverage
coverage/

# Temporary files
tmp/

# Environment variables
.env
.env.local
.env.*.local

dump.rdb
.vscode
.idea
